.line {
  z-index: 3;
  position: relative;
  display: block;
  block-size: 2px;
  inline-size: 100%;
  background-color: #272727;
  border-radius: 100px;

  svg {
    position: absolute;
    top: -8px;
    left: calc((100% - 18px) / 2);
  }
}

.moreInfo {
  z-index: 2;
  display: grid;
  grid-template-columns: 1.9fr 3.2fr;
  padding-top: 10px;
  transform: translateY(-80px);
  opacity: 0;
  height: 0px;

  th,
  td {
    min-width: 65px;
    text-align: center;
  }

  th {
    color: #969696;
    font-size: 16px;
  }

  td {
    font-size: 20px;
  }

  .popularHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    .title {
      text-align: center;
    }

    .heroList {
      display: flex;
      gap: 10px;

      .hero {
        block-size: 36px;
      }
    }
  }
}
