@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");

body {
  background-color: #101010;
  min-inline-size: 375px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

@media (width <= 765px) {
  .main {
    padding: 10px;
  }
}
